<h1>Add Inventory Item</h1>
<form [formGroup]="addItemForm" (ngSubmit)="OnSubmit()" class="inventory-form">
    <mat-form-field  appearance="outline">
        <mat-label>Item Name:</mat-label>
        <input matInput
        placeholder="name"
        formControlName="name" 
        type="text" 
        id="itemName">
        <mat-error *ngIf="hasError('name','required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label>Description:</mat-label>
        <input
        matInput
        placeholder="Item Description"
        formControlName="description" 
        required>
        <mat-error *ngIf="hasError('description','required')">Description required!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>User:</mat-label>
        <input 
        matInput
        placeholder="User Description"
        formControlName="user" 
        type="text" 
        required>
        <mat-error *ngIf="hasError('user','required')">User required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Location:</mat-label>
        <input 
        matInput
        placeholder="Location Description"
        formControlName="location" 
        type="text" 
        required>
        <mat-error *ngIf="hasError('location','required')">Location required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Inventory Number:</mat-label>
        <input 
        matInput
        placeholder="inventoryNumber Description"
        formControlName="inventoryNumber" 
        type="number" 
        required>
        <mat-error *ngIf="hasError('inventoryNumber','required')">inventoryNumber required</mat-error>
    </mat-form-field>

    
    <mat-form-field>
        <mat-label for="createdAt">Created at:</mat-label>
        <input 
        matInput
        placeholder="createdAt description"
        formControlName="createdAt" 
        type="date"
        required>
        <mat-error *ngIf="hasError('createdAt','required')">Created at required...</mat-error>
    </mat-form-field>
    <button 
    [disabled]="!addItemForm.valid"
    type="submit" 
    class="submit-btn">Submit</button>
    
</form>

<p>
    Form status : {{addItemForm.status}}
</p>

<div class="qrcode" >
    <qr-code [value]="item.user" size="300"></qr-code>
</div>